<a href="https://colab.research.google.com/github/manki11/AppLandingPage/blob/master/delay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import datetime
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import io


import warnings
warnings.filterwarnings('ignore')

In [0]:
dataset = pd.read_csv('data_delay.csv')

In [0]:
dataset.drop(['Cod_Arr_Apt_Real','Range_Pontuality','Tail_Model','Tail_Nbr','Id_Leg','Flg_Dep_Delay','Flg_Arr_Delay','Airline_Company','Owner_Tail_Responsability','Owner_Tail','Act_Dep_Dt','Act_Dep_Tm','Act_Arr_Dt','Act_Arr_Tm'], axis=1, inplace=True)

In [0]:
data= dataset.dropna(how='any', axis=0)

data['Schd_Dep_Dt'] = data['Schd_Dep_Dt'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
data['Schd_Dep_Dt_Yr'] = data['Schd_Dep_Dt'].apply(lambda x: x.year)
data['Schd_Dep_Dt_Mn'] = data['Schd_Dep_Dt'].apply(lambda x: x.month)
data['Schd_Dep_Dt_Dy'] = data['Schd_Dep_Dt'].apply(lambda x: x.weekday())

data['Schd_Arr_Dt'] = data['Schd_Arr_Dt'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
data['Schd_Arr_Dt_Yr'] = data['Schd_Arr_Dt'].apply(lambda x: x.year)
data['Schd_Arr_Dt_Mn'] = data['Schd_Arr_Dt'].apply(lambda x: x.month)
data['Schd_Arr_Dt_Dy'] = data['Schd_Arr_Dt'].apply(lambda x: x.weekday())

data.drop('Schd_Arr_Dt', axis=1,inplace=True)
data.drop('Schd_Dep_Dt', axis=1,inplace=True)

In [0]:
data.dtypes

Leg_Status             object
Cod_Flight             object
Cod_Dep_Apt            object
Cod_Arr_Apt_Planned    object
Schd_Dep_Tm            object
Schd_Arr_Tm            object
Flag_Pontuality        object
Tail_Model_Type        object
Schd_Dep_Dt_Yr          int64
Schd_Dep_Dt_Mn          int64
Schd_Dep_Dt_Dy          int64
Schd_Arr_Dt_Yr          int64
Schd_Arr_Dt_Mn          int64
Schd_Arr_Dt_Dy          int64
dtype: object

In [0]:
data['Flag_Pontuality']= LabelEncoder().fit_transform(data['Flag_Pontuality'])
data['Tail_Model_Type']= LabelEncoder().fit_transform(data['Tail_Model_Type'])

data= data.sort_values(by=['Schd_Dep_Dt_Yr'])

In [0]:
data.head()

       Leg_Status Cod_Flight  ... Schd_Arr_Dt_Mn Schd_Arr_Dt_Dy
464445    Regular    TP 1017  ...              4              6
419360    Regular    TP 1909  ...             11              1
419359    Regular    TP 1909  ...             11              0
419358    Regular    TP 1909  ...             11              6
419357    Regular    TP 1909  ...             11              5

[5 rows x 14 columns]

In [0]:
y=data.loc[:,['Flag_Pontuality']].values
X = data.drop('Flag_Pontuality', axis=1,inplace=False).values

In [0]:
from sklearn.compose import ColumnTransformer

ct = ColumnTransformer(
    [('oh_enc', OneHotEncoder(sparse=True), [0,1,2,3,4,5,6,7,8,9,10,11,12]),],  # the column numbers I want to apply this to
    remainder='passthrough'  # This leaves the rest of my columns in place
)
X_encoded = ct.fit_transform(X) # Notice the output is a string

In [0]:
X_encoded

<457955x2621 sparse matrix of type '<class 'numpy.float64'>'
	with 5953415 stored elements in Compressed Sparse Row format>

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=110271, shuffle=False)

In [0]:
X_train

<347684x2621 sparse matrix of type '<class 'numpy.float64'>'
	with 4519892 stored elements in Compressed Sparse Row format>

In [0]:
X_test

<110271x2621 sparse matrix of type '<class 'numpy.float64'>'
	with 1433523 stored elements in Compressed Sparse Row format>

In [0]:
# import keras
# from keras.models import Sequential
# from keras.layers import Dense

# # Initializing the ANN
# classifier = Sequential()

# # Adding input layer and hidden layer
# classifier.add(Dense(output_dim=6, init='uniform', activation='relu', input_dim=2621))

# # Adding second hidden layer
# classifier.add(Dense(output_dim=6, init='uniform', activation='relu'))

# # Adding output layer
# classifier.add(Dense(output_dim=1, init='uniform', activation='sigmoid'))

# # Compiling the ANN
# classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# # Fit the ANN to training set
# classifier.fit(X_train, y_train, batch_size=10, nb_epoch=50)

# # Prediction on test set
# y_pred= classifier.predict(X_test)

# print("results")

# y_pred = (y_pred > 0.5)


# # Making the Confusion Matrix
# from sklearn.metrics import confusion_matrix
# cm = confusion_matrix(y_test, y_pred)

W0629 14:13:19.579180 140638617655168 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Epoch 1/50
347684/347684 [==============================] - 76s 219us/step - loss: 0.5269 - acc: 0.7477
Epoch 2/50
347684/347684 [==============================] - 75s 215us/step - loss: 0.5163 - acc: 0.7532
Epoch 3/50
347684/347684 [==============================] - 75s 217us/step - loss: 0.5120 - acc: 0.7552
Epoch 4/50
347684/347684 [==============================] - 77s 220us/step - loss: 0.5095 - acc: 0.7568
Epoch 5/50
347684/347684 [==============================] - 75s 216us/step - loss: 0.5077 - acc: 0.7572
Epoch 6/50
347684/347684 [==============================] - 74s 214us/step - loss: 0.5062 - acc: 0.7581
Epoch 7/50
347684/347684 [==============================] - 75s 216us/step - loss: 0.5053 - acc: 0.7582
Epoch 8/50
347684/347684 [==============================] - 77s 220us/step - loss: 0.5045 - acc: 0.7591
Epoch 9/50
347684/347684 [==============================] - 76s 217us/step - loss: 0.5037 - acc: 0.7590
Epoch 10/50
347684/347684 [==============================] - 75s 216us/step - loss: 0.5031 - acc: 0.7593
Epoch 11/50
347684/347684 [==============================] - 75s 216us/step - loss: 0.5027 - acc: 0.7604
Epoch 12/50
347684/347684 [==============================] - 75s 215us/step - loss: 0.5022 - acc: 0.7598
Epoch 13/50
347684/347684 [==============================] - 76s 218us/step - loss: 0.5017 - acc: 0.7605
Epoch 14/50
347684/347684 [==============================] - 75s 217us/step - loss: 0.5014 - acc: 0.7603
Epoch 15/50
347684/347684 [==============================] - 75s 217us/step - loss: 0.5010 - acc: 0.7609
Epoch 16/50
347684/347684 [==============================] - 75s 215us/step - loss: 0.5009 - acc: 0.7611
Epoch 17/50
347684/347684 [==============================] - 77s 223us/step - loss: 0.5007 - acc: 0.7612
Epoch 18/50
347684/347684 [==============================] - 75s 215us/step - loss: 0.5005 - acc: 0.7614
Epoch 19/50
347684/347684 [==============================] - 75s 215us/step - loss: 0.5004 - acc: 0.7612
Epoch 20/50
347684/347684 [==============================] - 74s 213us/step - loss: 0.5003 - acc: 0.7613
Epoch 21/50
347684/347684 [==============================] - 76s 220us/step - loss: 0.5002 - acc: 0.7613
Epoch 22/50
347684/347684 [==============================] - 75s 215us/step - loss: 0.5002 - acc: 0.7613
Epoch 23/50
347684/347684 [==============================] - 75s 216us/step - loss: 0.4999 - acc: 0.7616
Epoch 24/50
347684/347684 [==============================] - 74s 213us/step - loss: 0.4999 - acc: 0.7614
Epoch 25/50
347684/347684 [==============================] - 76s 220us/step - loss: 0.4997 - acc: 0.7619
Epoch 26/50
347684/347684 [==============================] - 74s 214us/step - loss: 0.4997 - acc: 0.7618
Epoch 27/50
347684/347684 [==============================] - 75s 217us/step - loss: 0.4996 - acc: 0.7621
Epoch 28/50
347684/347684 [==============================] - 75s 215us/step - loss: 0.4993 - acc: 0.7622
Epoch 29/50
347684/347684 [==============================] - 77s 221us/step - loss: 0.4992 - acc: 0.7623
Epoch 30/50
347684/347684 [==============================] - 75s 217us/step - loss: 0.4991 - acc: 0.7626
Epoch 31/50
347684/347684 [==============================] - 75s 215us/step - loss: 0.4990 - acc: 0.7628
Epoch 32/50
347684/347684 [==============================] - 74s 214us/step - loss: 0.4989 - acc: 0.7628
Epoch 33/50
347684/347684 [==============================] - 76s 220us/step - loss: 0.4987 - acc: 0.7627
Epoch 34/50
347684/347684 [==============================] - 82s 237us/step - loss: 0.4986 - acc: 0.7627
Epoch 35/50
347684/347684 [==============================] - 77s 223us/step - loss: 0.4986 - acc: 0.7631
Epoch 36/50
347684/347684 [==============================] - 78s 225us/step - loss: 0.4985 - acc: 0.7629
Epoch 37/50
347684/347684 [==============================] - 78s 225us/step - loss: 0.4982 - acc: 0.7632
Epoch 38/50
347684/347684 [==============================] - 78s 225us/step - loss: 0.4982 - acc: 0.7631
Epoch 39/50
347684/347684 [==============================] - 77s 222us/step - loss: 0.4982 - acc: 0.7629
Epoch 40/50
 26730/347684 [=>............................] - ETA: 1:13 - loss: 0.4931 - acc: 0.7692Buffered data was truncated after reaching the output size limit.

In [0]:
cm = confusion_matrix(y_test.values, y_pred)

In [0]:
cm

array([[  320, 47760],
       [  204, 61987]])

In [0]:
y_test.mean()

Flag_Pontuality    0.563983
dtype: float64

In [0]:
# Fitting classifier to the Training set
from sklearn.tree import DecisionTreeClassifier
classifier= DecisionTreeClassifier(criterion='entropy', random_state=0)
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [0]:
cm

array([[10533, 37547],
       [ 9092, 53099]])

In [0]:
acc= (cm[0][0]+cm[1][1])/(cm[0][0]+cm[1][1]+cm[0][1]+cm[1][0])

In [0]:
acc

0.5770510832403806